// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2021 Radxa Limited.
 *
 */

/dts-v1/;

#include "rk3566-rock-compute-module-3.dtsi"

/ {
	model = "Radxa ROCK CM3 PIE23";
	compatible = "radxa,rock-cm3-e23-io", "rockchip,rk3566";

	vcc5v0_host: vcc5v0-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc5v0_host_en>;
		regulator-name = "vcc5v0_host";
		regulator-always-on;
		regulator-boot-on;
	};

	//将SD卡检测脚拉低
	tf_det: gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "tf-det";
		regulator-min-microvolt = <0000000>;
		regulator-max-microvolt = <0100000>;
		gpios = <&gpio0 RK_PD4 GPIO_ACTIVE_LOW>;
		gpios-states = <0x1>;
		states = <0100000 0x0
			  1800000 0x1>;
	};

	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio4 RK_PC6 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 2>;    //HP_HOOK引脚
	};

	vcc_sdpwr: sdmmc-regulator {
		compatible="regulator-fixed";
		gpio = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
		pinctrl-names="default";
		pinctrl-0=<&sdpwr_en>;
		regulator-name="vcc_sdpwr";
		regulator-min-microvolt=<0000000>;
		regulator-max-microvolt=<0100000>;
		startup-delay-us=<100000>;
		vin-supply=<&vcc3v3_sys>;
	};
};

&gpio_leds {
	/delete-node/ pi-led-green;
	/delete-node/ pwr-led-red;
};

&pwm0 {
	pinctrl-0 = <&pwm0m1_pins>;
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&pwm11 {
	pinctrl-0 = <&pwm11m1_pins>;
	status = "okay";
};

&rk817_sound {
	status = "okay";
};

&i2s1_8ch {
	status = "okay";
};

&display_subsystem {
    status = "disabled";
};

&hdmi {
	status = "disabled";
};

&hdmi_in_vp0 {
	status = "disabled";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi_sound {
	status = "disabled";
};

&route_hdmi {
	status = "disabled";
	connect = <&vp0_out_hdmi>;
};

&i2s0_8ch {
	status = "disabled";
};

&sdmmc0 {
	vmmc-supply = <&vcc_sdpwr>;
};

&u2phy0_host {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd_dwc3 {
	extcon=<&usb2phy0>;
	status="disabled";
};

&usbdrd30 {
	status = "disabled";
};

&usbhost_dwc3 {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

&combphy1_usq {
	status = "okay";
};

&pcie2x1 {
	status = "disabled";
};

&pinctrl {
	usb {
		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	sdcard {
		///delete-node/ sdmmc-pwren;

		sdpwr_en: sdpwr-en {
			rockchip,pins = <0 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

///delete-node/ &vcc_sd;